.default-layout {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  height: 88vh;
}

footer {

  grid-area: footer;
  background: #000;
  color: white;
  padding: 1rem;
}