.resetPasswordWrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.fromBox {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.resetTitle {
    text-align: center;
    color: #1775ee;
}

.fromInput {
    height: 50px;
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 20px;
}

.fromInput:focus {
    outline: none;
}

.btn-reset {
    height: 50px;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100%;
    background-color: #1775ee;
    color: #fff;
}


/* media query */

@media only screen and (max-width: 600px) {

    .fromBox {
        width: 270px;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }

    .fromInput {
        height: 45px;
        border: 1px solid gray;
        font-size: 15px;
        border-radius: 10px;
        padding-left: 20px;
    }
}